body{
  background-color: #8e7b78 !important;
}
footer{
  margin-top: 100px;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  border-top: 2px solid #001A6C;
  background-color: goldenrod;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Player{
  height: 500px;
  width: 550px;
  border: 20px solid #5F4B8BFF;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.Player-Blue{
  background-color: #5F9EA0;

}
.Player-Red{
  background-color: #E69A8DFF;
}

.player-container{
  column-count: 2;
  border-top: 20px solid gold;
  border-bottom: 20px solid gold;
}
.input-group{
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
.intro-header{
  width: 600px;
  border: 20px solid #1A1825;
  color: #001A6C;
  margin: auto;
  padding: 10px;
}
.summoner-header{
  width: 500px;
  border: 10px solid #282c34;
  color: #001A6C;
  margin: auto;
  margin-bottom: 50px;
}
.league-img{
  background-image: url("../public/images/challenger.png");
  width: 600px;
  height: 400px;
  margin: auto;
}
.game-heading{
  margin: 50px auto;
  height: 3.5rem;
  width: 30%;
  border: 3px solid black;
  background-color: aquamarine;
  color: #1A1825;
}
.player-profile{
  width: 400px;
  border: 10px solid #282c34;
  color: #001A6C;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

